* {
    font-family: inter, sans-serif;
    font-weight: 500;
}

body {
    margin: 0px;
    padding: 0px;
}

/* navbar CSS */

#nav {
    width: 100%;
    height: 35px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(151, 90, 90, 0.24) 0px 3px 8px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 2;
}

#top {
    width: 92%;
    height: 55px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 15%;
    margin-left: -150px;
}

.blocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 5px;
    margin-left: 20px;
}

#logo>img {
    width: 100%;
}

.search {
    width: 40%;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 192);
}

.shop {
    width: 15%;
    border-right: 1px solid rgb(197, 195, 195);
    font-size: 20px;
    padding: 5px;
    background-color: white;
    align-items: center;
    padding-left: 20px;
    display: flex;
}

#typesearch {
    width: 66%;
}

#search_item {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    padding: 16px;
    outline: none;

}

#search_item::placeholder {
    color: rgb(190, 179, 179);
}

#searchbtn {
    width: 25%;
}

#searchbtn button {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    color: white;
    background-color: #376968;
    border: 0;
    cursor: pointer;
}



#filter-box {
    width: 30%;
}

.filter1 {
    border: 1px dashed #333;
    line-height: 30px;
}



/* Main Container CSS */

#container {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 100px;
}

#product-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

#product-container>div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#product-container img {
    width: 100%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#product-container button {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
    background-color: white;
    font-weight: bold;
    position: absolute;
    margin-top: 20px;
    bottom: 2%;
    right: 0;
    left: 0;
}

#product-container button:hover {
    background-color: #333;
    color: white;
}

#product-container h4 {
    font-size: 22px;
    color: #333;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 40PX;
}

#product-container p {
    font-size: 15px;
    color: rgb(139, 139, 139);
    padding-left: 10px;
    margin-top: 5px;
}

#product-container h3 {
    padding-left: 10px;
    font-size: 20px;
    margin-top: 10px;
}




/* Footer Section CSS */

#bottom {
    width: 100;
    height: 30px;
    background-color: black;
    margin-top: 25px;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

#bottom div {

    color: white;
    text-align: center;
    margin: auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #AAAAAB;
}

#copyright {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

#copyright div {
    width: 100%;
}

#uname {
    color: wheat;
}